.main-container {
  padding: 20px;
  text-align: center;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  color:rgb(233, 232, 232);
  margin-bottom: 20px;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.category-card {
  background-color: #d3d3d3;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.category-icon {
  font-size: 3rem;
  margin-bottom: 10px;
}

.category-title {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0;
}

.category-description {
  font-size: 1.2rem;
  color:#666;
  margin: 10px 0;
}

.category-courses {
  font-size: 0.9rem;
  color:#666;
}

.card-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
/* Logo styling */
.category-logo {
  max-width: 120px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

.category-card:hover .card-hover {
  opacity: 1;
}

.view-courses-btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px
}

/* Responsive Design for Tablets (2 columns) */
@media (max-width: 1024px) {
  .category-container {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  }
}

@media (max-width: 768px) {
  .category-container {
    grid-template-columns: 1fr; /* Single column layout */
  }
}
